.navbar-transparent {
  margin-top: 30px;
  background-color: transparent;
  font-size: 20px;
  border: 0px;
}

.navbar-default .navbar-nav li a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.space-background {
  background-image: url("../images/interstellar.jpg");
  background-size: cover;
  background-color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 71px);
}

.center {
  margin: 0 auto;
  width: 66%;
}


.fade-transition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade-transition.ng-enter,
.fade-transition.ng-leave {
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}
.fade-transition.ng-enter { opacity: 0; }
.fade-transition.ng-enter-active { opacity: 1; }
.fade-transition.ng-leave { opacity: 1; }
.fade-transition.ng-leave-active { opacity: 0; }
