@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#anyoldicon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* General grid styles */
.network-grid {
  min-width: 950px;
  list-style: none;
  padding-top: 100px;
  margin: 0; }

/* grid item */
.network-grid li {
  width: 30%;
  float: left;
  height: 410px;
  text-align: center;
  border-top: 1px solid #ddd; }
  .network-grid li > a {
    display: block;
    height: 100%;
    color: gray;
    -webkit-transition: background 0.2s;
            transition: background 0.2s; }
    .network-grid li > a:hover, .network-grid li > a:visited, .network-grid li > a:link, .network-grid li > a:active {
      text-decoration: none; }

/* we are using a combination of borders and box shadows to control the grid lines */
.network-grid li:nth-child(-n+3) {
  border-top: none; }

.network-grid li:nth-child(3n-1),
.network-grid li:nth-child(3n-2) {
  box-shadow: 1px 0 0 #ddd; }

/* the icon with pseudo class for icon font */
.icon, .twitter-icon:before, .google-plus-icon:before, .comment-icon:before, .linkedin-icon:before, .github-icon:before, .stack-overflow-icon:before {
  padding: 30px 0 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s; }

.icon:before, .twitter-icon:before, .google-plus-icon:before, .comment-icon:before, .linkedin-icon:before, .github-icon:before, .stack-overflow-icon:before {
  font-family: 'fontawesome';
  color: gray;
  font-size: 11em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  .icon:before:active, .twitter-icon:before:active, .google-plus-icon:before:active, .comment-icon:before:active, .linkedin-icon:before:active, .github-icon:before:active, .stack-overflow-icon:before:active {
    text-decoration: none; }

.twitter-icon:before {
  color: #4099FF; }

.twitter-hover:hover {
  background: #4099FF;
  text-decoration: none; }

.google-plus-icon:before {
  color: #e74c3c; }

.google-plus-hover:hover:hover {
  background: #e74c3c;
  text-decoration: none; }

.comment-icon:before {
  color: #2ecc71; }

.comment-hover:hover {
  background: #2ecc71;
  text-decoration: none; }

.linkedin-icon:before {
  color: #2980b9; }

.linkedin-hover:hover {
  background: #2980b9;
  text-decoration: none; }

.github-icon:before {
  color: #34495e; }

.github-hover:hover {
  background: #34495e;
  text-decoration: none; }

.stack-overflow-icon:before {
  color: #e67e22; }

.stack-overflow-hover:hover {
  background: #e67e22;
  text-decoration: none; }

/* title element */
.network-grid .icon-title {
  margin: 20px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 2em;
  text-decoration: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s; }

.network-grid .icon-title:before {
  content: '';
  position: absolute;
  background: gray;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: -10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s;
          transition: margin-top 0.2s;
  text-decoration: none; }

.network-grid .category {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-transition: -webkit-transform .3s, opacity 0.2s;
          transition: transform .3s, opacity 0.2s; }

.network-grid li:hover .category,
.touch .network-grid li .category {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  text-decoration: none; }

/* Hover styles */
.network-grid li > a:hover .icon, .network-grid li > a:hover .twitter-icon:before, .network-grid li > a:hover .google-plus-icon:before, .network-grid li > a:hover .comment-icon:before, .network-grid li > a:hover .linkedin-icon:before, .network-grid li > a:hover .github-icon:before, .network-grid li > a:hover .stack-overflow-icon:before {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  text-decoration: none; }

.network-grid li > a:hover .icon:before, .network-grid li > a:hover .twitter-icon:before, .network-grid li > a:hover .google-plus-icon:before, .network-grid li > a:hover .comment-icon:before, .network-grid li > a:hover .linkedin-icon:before, .network-grid li > a:hover .github-icon:before, .network-grid li > a:hover .stack-overflow-icon:before,
.network-grid li > a:hover .icon-title {
  color: #fff;
  text-decoration: none; }

.network-grid li > a:hover .icon-title {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  text-decoration: none; }

.network-grid li > a:hover .icon-title:before {
  background: #fff;
  margin-top: 80px;
  text-decoration: none; }
