.skill-header {
  color: white;
  display: inline-block; }
  .skill-header h3 {
    font-size: 25px; }
    @media (max-height: 50em) {
      .skill-header h3 {
        font-size: 17px; } }
  .skill-header h4 {
    font-size: 17px; }
    @media (max-height: 45em) {
      .skill-header h4 {
        font-size: 12px; } }

@media (max-height: 45em) {
  .progress {
    margin-bottom: 12px; } }

.progress-bar-blue {
  background-color: #3498db; }

.progress-bar-red {
  background-color: #e74c3c; }

.progress-bar-yellow {
  background-color: #f39c12; }

.progress-bar-purple {
  background-color: #9b59b6; }

.progress-bar-green {
  background-color: #2ecc71; }

.skills-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.skills-center {
  width: 50%;
  margin-right: 10%;
  margin-left: 10%; }
  @media (max-width: 80em) {
    .skills-center {
      width: 70%;
      margin-right: 5%;
      margin-left: 5%; } }
