.skill-header {
  color: white;
  display: inline-block;

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 17px;
  }
}

.progress-bar-blue {
    background-color: #3498db;
}

.progress-bar-red {
    background-color: #e74c3c;
}

.progress-bar-yellow {
    background-color: #f39c12;
}

.progress-bar-purple {
    background-color: #9b59b6;
}

.progress-bar-green {
    background-color: #2ecc71;
}

.center-left {
  width: 40%;
  margin-left: 0;
  margin-right: 15%;
}
