.skill-header {
  color: white;
  display: inline-block;

  h3 {
    font-size: 25px;
    @media (max-height: 50em) {
      font-size: 17px;
    }
  }

  h4 {
    font-size: 17px;
    @media (max-height: 45em) {
      font-size: 12px;
    }
  }
}

.progress {
  @media (max-height: 45em) {
    margin-bottom: 12px;
  }
}

.progress-bar-blue {
    background-color: #3498db;
}

.progress-bar-red {
    background-color: #e74c3c;
}

.progress-bar-yellow {
    background-color: #f39c12;
}

.progress-bar-purple {
    background-color: #9b59b6;
}

.progress-bar-green {
    background-color: #2ecc71;
}

.skills-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skills-center {
  width: 50%;
  margin-right: 10%;
  margin-left: 10%;
  @media (max-width: 80em) {
    width: 70%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
