.title-container {
  text-align: center;
  padding-bottom: 25vh;
}

.title {
  font-size: 60px;
  color: white;

  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 30px;
  color: white;
}
